name: OCI ARM Instance1

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"

      - name: Install dependencies
        run: composer install

      - name: Create Private Key file
        run: |
          echo '${{ secrets.OCI_CLI_KEY_CONTENT }}' > /tmp/oci_private_key.pem
          chmod 600 /tmp/oci_private_key.pem

      - name: Create .env file
        run: |
          echo "OCI_REGION=${{ secrets.OCI_CLI_REGION }}" >> .env
          echo "OCI_USER_ID=${{ secrets.OCI_CLI_USER }}" >> .env
          echo "OCI_TENANCY_ID=${{ secrets.OCI_CLI_TENANCY }}" >> .env
          echo "OCI_KEY_FINGERPRINT=${{ secrets.OCI_CLI_FINGERPRINT }}" >> .env
          echo "OCI_PRIVATE_KEY_FILENAME=/tmp/oci_private_key.pem" >> .env
          echo "OCI_AVAILABILITY_DOMAIN=${{ secrets.OCI_AVAILABILITY_DOMAIN }}" >> .env
          echo "OCI_SUBNET_ID=${{ secrets.OCI_SUBNET_ID }}" >> .env
          echo "OCI_IMAGE_ID=${{ secrets.OCI_IMAGE_ID }}" >> .env
          echo "OCI_OCPUS=${{ secrets.OCI_OCPUS }}" >> .env
          echo "OCI_MEMORY_IN_GBS=${{ secrets.OCI_MEMORY_IN_GBS }}" >> .env
          echo "OCI_SHAPE=${{ secrets.OCI_SHAPE }}" >> .env

      - name: Run script
        run: php index.php
